@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@inherits LayoutComponentBase
@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<PageTitle>BlazorToDoList</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu hide="@hide" currentUser="@currentUser"  />
    </div>
    <main>
        <div class="top-row px-4">
            @if(currentUser != null)
            {
            <button @onclick="() => LogOut()" class="btn btn-primary">Log Out</button>         
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    public UserItem? currentUser { get; set; }
    public bool hide { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            currentUser = await UserService.GetSingleUserAsync();
            hide = false;
           
        }
        catch (Exception)
        {
            currentUser = null;
        }
    }

    public async Task LogOut()
    {
        try
        {
            await UserService.Logout();
            NavigationManager.NavigateTo("/", true);
        }
        catch (Exception)
        {   
            throw;
        }
        
    }
}
