@using BlazorToDoList.Data;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorToDoList</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div hidden="@hide" class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="currentuserlists">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lists
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="createlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Create list
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="editprofile">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Edit profile
            </NavLink>
        </div>
        @if(currentUser != null && currentUser.Access != Access.User)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="usersettings">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Manage other users
                </NavLink>
            </div>
        }   
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    [Parameter]
    public bool hide { get; set; }

    [Parameter]
    public UserItem? currentUser { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
