@page "/addtask"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@inject TaskService TaskService;
@inject NavigationManager NavigationManager;

<h3>AddTask</h3>

<div>
    <EditForm Model="@taskItem" OnSubmit="@OnSubmit">
        Title:
        <InputText id="title" @bind-Value="taskItem.TaskTitle" />
        Description:
        <InputText id="description" @bind-Value="taskItem.TaskDescription" />
        Priority:
        <InputSelect id="prio" @bind-Value="taskItem.TaskPrio" class="form-control">

            @foreach (var prio in Enum.GetValues(typeof(Priority)))
            {
                <option value="@prio">@prio</option>
            }
        </InputSelect>
        <button type="submit">Submit</button>
    </EditForm>
</div>

@code {
    private TaskItem taskItem = new();
    private Priority prio = new();

    public async Task OnSubmit()
    {
        taskItem = await TaskService.AddTaskAsync(taskItem);
        NavigationManager.NavigateTo("/singlelist", true);

    }
}
