@page "/admin"
@inject NavigationManager NavigationManager;

<h3>Admin</h3>

<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/users"))" @onclick:preventDefault class="btn btn-primary">View all users</a>


@code {
    //Göra meny för admin ovan?
}
