@page "/admin"
@inject NavigationManager NavigationManager;

<h3>Admin</h3>

<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/getalllists"))" @onclick:preventDefault class="btn btn-primary">View all lists</a>
<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/users"))" @onclick:preventDefault class="btn btn-primary">View all users</a>
<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/promoteuser"))" @onclick:preventDefault class="btn btn-primary">Promote user</a>


@code {
    //Göra meny för admin ovan?
}
