@page "/CreateList"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject IListService ListService;
@inject NavigationManager NavigationManager;

<h3>Create new list</h3>
<div>
    <EditForm Model="@listItem" OnSubmit="@OnSubmit">
        Title:
        <InputText id="name" @bind-Value="listItem.ListTitle" />
        <br />
        Color:
        <InputSelect id="color" @bind-Value="listItem.TitleColor" class="form-control">

            @foreach (var color in Enum.GetValues(typeof(Color)))
            {
                <option value="@color">@color</option>
            }
        </InputSelect>
        <br/>
        <button type="submit">Submit</button>
    </EditForm>
</div>
@code {
    private ToDoListItem listItem = new();
    private Color color = new();

    public async Task OnSubmit()
    {
        try
        {
            var listIten = await ListService.CreateListAsync(listItem);
            NavigationManager.NavigateTo("/currentuserlists", true);
        }
        catch (Exception)
        {
            
            throw;
        }
        
    }
}
