@page "/CreateList"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject ListService ListService;
@inject NavigationManager NavigationManager;

<h3>CreateList</h3>
<div>
    <EditForm Model="@listItem" OnSubmit="@OnSubmit">
        Title:
        <InputText id="name" @bind-Value="listItem.ListTitle" />
        <button type="submit">Submit</button>
        Priority:
        <InputSelect id="color" @bind-Value="listItem.TitleColor" class="form-control">

            @foreach (var color in Enum.GetValues(typeof(Color)))
            {
                <option value="@color">@color</option>
            }
        </InputSelect>
        
    </EditForm>
</div>
@code {

    private ToDoListItem listItem = new();
    private Color color = new();
    public async Task OnSubmit()
    {
        var listIten = await ListService.CreateListAsync(listItem);
        NavigationManager.NavigateTo("/currentuserlists", true);
    }
}
