@page "/deleteuser"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject UserService UserService;

<h3>Delete User</h3>

Do you want to delete your user?

<EditForm Model="@user" OnSubmit="@OnSubmit">
    <button type="submit">Delete</button>
</EditForm>


@code {
    private UserItem user = new();


    public async Task OnSubmit()
    {
        user = await UserService.DeleteUserAsync(); // funkar men kanske behöver snyggas till, hur funkar det med admin?
    }
}
