@page "/deleteuser"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<h3>Do you want to delete your user?</h3>
<br />
<EditForm Model="@user" OnSubmit="@OnSubmit">
    <button class="btn btn-danger "type="submit">Delete</button>
<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/singleuser"))" @onclick:preventDefault class="btn btn-primary">Cancel</a>
</EditForm>

@code {
    private UserItem user = new();

    public async Task OnSubmit()
    {
        try
        {
            user = await UserService.DeleteUserAsync();
            NavigationManager.NavigateTo("/singleuser", true);
            // funkar men kanske behöver snyggas till, hur funkar det med admin?
        }
        catch (Exception)
        {
            return;
        }
        
    }
}
