@page "/DeleteList"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject IListService ListService;
@inject NavigationManager NavigationManager;


<h3>Do you want to delete this list?</h3>
<br />
<EditForm Model="@listItem" OnSubmit="@OnSubmit">
    <button class="btn btn-danger" type="submit">Delete</button>
<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/currentuserlists"))" @onclick:preventDefault class="btn btn-secondary">Cancel</a>
</EditForm>

@code {
    private ToDoListItem listItem = new();

    public async Task OnSubmit()
    {
        try
        {
            listItem = await ListService.DeleteListAsync();
            NavigationManager.NavigateTo("/currentuserlists", true);   
        }
        catch (Exception)
        {
            return;
        }
        
    }
}
