@page "/EditUser"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@inject UserService UserService;

<h3>EditUser</h3>

<div>
    <EditForm Model="@newUser" OnSubmit="@OnSubmit">
        Username:
        <InputText id="name" @bind-Value="newUser.Username" />
        Password:
        <InputText id="name" @bind-Value="newUser.Password" />
        Email:
        <InputText id="name" @bind-Value="newUser.Email" />
        <button type="submit">Submit</button>
    </EditForm>
</div>

@code {
    private UserItem newUser = new();

    public async Task OnSubmit()
    {
        newUser = await UserService.EditProfile(newUser); //Funkar någorlunda men hur funkar det med admin?
    }
}
