@page "/edittask"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@inject ITaskService TaskService;
@inject NavigationManager NavigationManager;

<h3>EditTask</h3>

<div>
    <EditForm Model="@taskItem" OnSubmit="@OnSubmit">
        New title:
        <InputText id="name" @bind-Value="taskItem.TaskTitle" />
        New description:
        <InputText id="description" @bind-Value="taskItem.TaskDescription" /> 
        New priority:
        <InputSelect id="prio" @bind-Value="taskItem.TaskPrio" class="form-control">    
            @foreach (var prio in Enum.GetValues(typeof(Priority)))
            {
                    <option value="@prio">@prio</option>
            }
        </InputSelect>
        <button type="submit">Submit</button>
    </EditForm>
</div>

@code {
    private TaskItem taskItem = new();

    public async Task OnSubmit()
    {
        taskItem = await TaskService.EditTaskAsync(taskItem);
        NavigationManager.NavigateTo("/singlelist", true);
    }
}
