@page "/editprofile"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<h3>EditUser</h3>

<div>
    <EditForm Model="@newUser" OnSubmit="@OnSubmit">
        Username:
        <InputText id="name" @bind-Value="newUser.Username" />
        Password:
        <InputText id="name" @bind-Value="newUser.Password" />
        Email:
        <InputText id="name" @bind-Value="newUser.Email" />
        <button type="submit">Submit</button>
    </EditForm>
</div>

<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/deleteuser"))" @onclick:preventDefault class="btn btn-primary">Delete your profile</a>
<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/singleuser"))" @onclick:preventDefault class="btn btn-primary">Go back</a>

@code {
    private UserItem newUser = new();

    public async Task OnSubmit()
    {
        newUser = await UserService.EditProfileAsync(newUser);
        NavigationManager.NavigateTo("/singleuser", true); //Funkar någorlunda men hur funkar det med admin?
    }
}
