@page "/EditList"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@inject ListService ListService;
@inject NavigationManager NavigationManager;

<h3>EditList</h3>


<div>
    <EditForm Model="@listItem" OnSubmit="@OnSubmit">
        New title:
        <InputText id="name" @bind-Value="listItem.ListTitle" />
        <button type="submit">Submit</button>
    </EditForm>
</div>

@code {
    private ToDoListItem listItem = new();
    private Color color = new();
    public async Task OnSubmit()
    {
        var listIten = await ListService.EditList(listItem);
        NavigationManager.NavigateTo("/singlelist", true);
    }
}
