@page "/GetAllLists"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject NavigationManager NavigationManager

<h3>Listor</h3>

@inject ListService ListService;

<table class="table">
    <tbody>
        @foreach (var list in lists)
        {
            <tr>
                <td>@list.ListTitle</td>  
                <td>@list.TitleColor</td>     
            </tr>
            <button @onclick="() => GoToList(list)" class="btn btn-secondary align-self-end">Go To List</button>
        }
    </tbody>
</table>

@code {
    private IEnumerable<ToDoListItem> lists = new List<ToDoListItem>();


    protected override async Task OnInitializedAsync()
    {
        lists = await ListService.GetAllListsAsync();
    }

    public void GoToList(ToDoListItem listItem)
    {
        CurrentRecord.Id["ListId"] = listItem.Id.ToString();
        NavigationManager.NavigateTo("/singlelist", true);
    }
    

}
