@page "/getalllists"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject NavigationManager NavigationManager

<h3>Listor</h3>

@inject IListService ListService;

<table class="table">
    <tbody>
        @foreach (var list in lists)
        {
            <tr>
                <td><button @onclick="() => GoToList(list)" class="border-0 bg-white text-uppercase"><p style="color:@list.TitleColor">@list.ListTitle</p></button></td>
            </tr>
        }
    </tbody>
    <a href="" @onclick="@(()=> NavigationManager.NavigateTo("/usersettings"))" @onclick:preventDefault class="btn btn-primary">Go back</a>
</table>

@code {
    private IEnumerable<ToDoListItem> lists = new List<ToDoListItem>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            lists = await ListService.GetAllListsAsync();
        }
        catch (Exception)
        {
            return;
        }
    }

    public void GoToList(ToDoListItem listItem)
    {
        try
        {
            CurrentRecord.Id["ListId"] = listItem.Id.ToString();
            NavigationManager.NavigateTo("/singlelist", true);
        }
        catch (Exception)
        {
            return;
        }
        
    }
}
