@page "/getalllists"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject NavigationManager NavigationManager

<h3>Lists</h3>

@inject IListService ListService;

<table class="table">
    <tbody>
        @foreach (var list in Lists)
        {
            <tr>
                <td><p style="color:@list.TitleColor">@list.ListTitle</p></td>
            </tr>
        }
    </tbody>
</table>

@code {
    private IEnumerable<ToDoListItem> Lists { get; set; } = new List<ToDoListItem>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Lists = await ListService.GetAllListsAsync();
        }
        catch (Exception)
        {
            return;
        }
    }

    public void GoToList(ToDoListItem list)
    {
        try
        {
            CurrentRecord.Id["ListId"] = list.Id.ToString();
            NavigationManager.NavigateTo("/singlelist", true);
        }
        catch (Exception)
        {
            return;
        }
        
    }
}
