@page "/singleuser"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<h3 class="mb-4">Welcome @CurrentUser.Username</h3>

<p class="mb-2">Username:@CurrentUser.Username</p>
<p class="mb-2">Email:@CurrentUser.Email</p>
<p class="mb-5">Access:@CurrentUser.Access</p>

<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/currentuserlists"))" @onclick:preventDefault class="btn btn-primary">View your lists</a>
<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/editprofile"))" @onclick:preventDefault class="btn btn-primary">Edit your profile</a>

@code {
    private UserItem CurrentUser { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            CurrentUser = await UserService.GetSingleUserAsync();
        }
        catch (Exception)
        {
            return;
        }     
    }
}
