@page "/singletask"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;

@inject ITaskService TaskService;
@inject NavigationManager NavigationManager;

<h3>@task.TaskTitle</h3>

<table class="table">
    <tbody>
        <tr>
            <td>- @task.TaskDescription</td>
        </tr>
    </tbody>
</table>

<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/edittask"))" @onclick:preventDefault class="btn btn-primary">Edit task</a>
<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/singlelist"))" @onclick:preventDefault class="btn btn-secondary">Go back</a>
@code {
    private TaskItem task = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var taskId = CurrentRecord.Id["TaskId"];
            task = await TaskService.GetSingleTaskAsync(Guid.Parse(taskId));
        }
        catch (Exception)
        {
            return;
        }

    }
}
