@page "/singleuser"

@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using ToDoList.API;
@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<h3 class="mb-4">Welcome @currentUser.Username</h3>

<p class="mb-2">Username:@currentUser.Username</p>
<p class="mb-2">Email:@currentUser.Email</p>
<p class="mb-5">Access:@currentUser.Access</p>

<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/currentuserlists"))" @onclick:preventDefault class="btn btn-primary">View your lists</a>
<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/editprofile"))" @onclick:preventDefault class="btn btn-primary">Edit your profile</a>

@code {

    private UserItem currentUser = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            //var userId = CurrentRecord.Id["UserId"];
            currentUser = await UserService.GetSingleUserAsync(); //funkar men ska jag använda den även när en admin klickar på en user?
        }
        catch (Exception)
        {
            return;
        }
        
    }
}
