@page "/"

@inject NavigationManager NavigationManager



<PageTitle>Index</PageTitle>


<h1>To Do List</h1>

<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/login"))" @onclick:preventDefault class="btn btn-primary">Login</a>
<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/createuser"))" @onclick:preventDefault class="btn btn-primary">Sign Up</a>


