@page "/"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@inject IUserService UserService;
@inject NavigationManager NavigationManager



<PageTitle>Index</PageTitle>

@if (CurrentUser == null)
{
<h1 class="mb-5">To Do List</h1>
<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/login"))" @onclick:preventDefault class="btn btn-primary">Login</a>
<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/createuser"))" @onclick:preventDefault class="btn btn-primary">Sign Up</a>
    
}
else
{
    <GetSingleUser></GetSingleUser>
}

@code {
    private UserItem? CurrentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            CurrentUser = await UserService.GetSingleUserAsync();
        }
        catch (Exception)
        {
            CurrentUser = null;
        }
    }
}


