@page "/LogIn"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using System.Text;
@using ToDoList.API;
@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<h3>LogIn</h3>
<div>
    <p class="text-danger">@errorMessage</p>
<EditForm Model="@user" OnSubmit="@OnSubmit">
    Username: <br />
    <InputText id="username" @bind-Value="user.Username" />
    <br /><br />
    Password: <br />
        <InputText type="password" id="password" @bind-Value="user.Password" />
        <br /><br />
    <button class="btn btn-primary "type="submit">Log In</button>
</EditForm>
</div>

@code {
    private UserItem user = new();
    public string errorMessage { get; set; } = "";

    public async Task OnSubmit()
    {
        try
        {
            user = await UserService.Authenticate(user);
            NavigationManager.NavigateTo("/singleuser", true);
        }
        catch (Exception)
        {
            errorMessage = "Invalid username or password";
        }
        
    }
}
