@page "/login"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using System.Text;
@using ToDoList.API;
@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<h3 class="mb-4">Log In</h3>
<div>
    <p class="text-danger">@errorMessage</p>
    <EditForm Model="@User" OnValidSubmit="@OnSubmit">
        <p class="mb-2">Username:</p>
        <InputText class="mb-2" id="username" @bind-Value="User.Username" />
        <p class="mb-2">Password:</p>
        <InputText class="mb-5" type="password" id="password" @bind-Value="User.Password" />
        <br />
        <button class="btn btn-primary" type="submit">Log In</button>
        <a href="" @onclick="@(()=> NavigationManager.NavigateTo("/"))" @onclick:preventDefault class="btn btn-secondary">Cancel</a>
    </EditForm>
</div>

@code {
    private UserItem User { get; set; } = new();
    private string errorMessage { get; set; } = "";

    public async Task OnSubmit()
    {
        try
        {
            User = await UserService.Authenticate(User);
            NavigationManager.NavigateTo("/singleuser", true);
        }
        catch (Exception)
        {
            errorMessage = "Invalid username or password";
        }

    }
}
