@page "/promoteuser"
@using BlazorToDoList.Data;
@using BlazorToDoList.Services;
@inject UserService UserService

<h3>Promote User</h3>

<div>
    <EditForm Model="@user" OnSubmit="@OnSubmit">
        Access:
        <InputSelect id="prio" @bind-Value="user.Access" class="form-control">

            @foreach (var access in Enum.GetValues(typeof(Access)))
            {
                    <option value="@access">@access</option>
            }
        </InputSelect>
        <button type="submit">Submit</button>
    </EditForm>
</div>


@code {
    private UserItem user = new();
    private Access access = new();

    public async Task OnSubmit()
    {
        user = await UserService.PromoteUserAsync(user); //själva metoden funkar men ingen säkerhet att bara admin får göra det
    }
}
