@page "/usersettings"
@inject NavigationManager NavigationManager;

<h3>Manage other users</h3>

<Users></Users>

<a href="" @onclick="@(()=> NavigationManager.NavigateTo("/createuser"))" @onclick:preventDefault class="btn btn-primary">Create new user</a>

